root = true

[*.{c,h,cpp,cmake,txt,md}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 3
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yaml,yml}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2

[.clang-format]
charset = utf-8
end_of_line = crlf